.contacts {display: flex;
  align-items: center;
}
 

/*Задаем отступы для адреса в хедере*/
.page-header__contacts {
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

/*-------------------Оформление верхнего блока контактов---------------------------*/
.contacts__item {
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item:hover,
.contacts__item:focus {
  color: var(--accent-color);
}

.contacts__mail,
.contacts__tel {
  color: inherit;
}
    .contacts__mail:focus,
.contacts__tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  
}
.contacts__icon {
  display: inline-block;
  margin-right: 10px;
   fill: currentColor;}

.contacts__icon--smartphone {
  width: 10px;
  height: 16px; 
}
.contacts__icon--envelope {
  width: 16px;
  height: 12px;
}
